<html>
<head>
<title><%= title %></title>
<script type="text/javascript" src="/js/lib/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.jqpagination.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css" />
</head>
<body>
	<br><br>
	<div style="text-align: center;">
		<span style="font-size:40px;"><%= title %></span>
	</div>
	<center>
    	<input type="submit" class="_btn" value="Regist" onclick="window.location='/admin/question/add'"/>
    </center>
	<table cellspacing="0">
		<tr>
			<th>아이디</th>
			<th>문제 이미지</th>
			<th>확정 이미지</th>
			<th>출제 시간 ~ 마감 시간</th>
			<th>출제 날짜</th>
		</tr>
		<% 
			for (var i = 0, l = questions.length; i < l; i++) {
				var question = questions[i];
		%>
		<tr>
			<td style="width:10%;">
				<%= question.id %>
			</td>
			<td style="width:10%;">
				<a href="/admin/question/<%= question.id %>" target="_self"><img src="<%= question.thumb %>"/></a>
			</td>
			<td style="width:10%;">
				
			</td>
			<td style="width:15%;">
				<%= question.time.start %> ~ <%= question.time.end %>
			</td>
			<td style="width:15%;">
				 <%= question.displayDate %>
			</td>
		</tr>
	   <% }; %>
	</table>
	<br/>
    <center>
    	<div class="_pagination">
		    <a href="#" class="first" data-action="first">&laquo;</a>
		    <a href="#" class="previous" data-action="previous">&lsaquo;</a>               
		    <input type="text" readonly="readonly" data-current-page="<%= page %>" data-max-page="<%= totalPage %>" style="text-align:center" />
		    <a href="#" class="next" data-action="next">&rsaquo;</a>
		    <a href="#" class="last" data-action="last">&raquo;</a>
		</div>
		<br>
    	<input type="submit" class="_btn" value="Regist" onclick="window.location='/admin/question/add'"/>
    </center>
    <br><br><br><br>
</body>
<script type="text/javascript" src="/js/admin/question/list.js"></script>
</html>
