<html>
<head>
<title><%= title %></title>
<script type="text/javascript" src="/js/lib/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.jqpagination.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css" />
</head>
<body>
	<br><br>
	<div style="text-align: center;">
		<span style="font-size:40px;"><%= title %></span>
	</div>
	<center>
    	<input type="submit" class="_btn" value="Regist" onclick="window.location='/admin/question/add'"/>
    </center>
	<table cellspacing="0">
		<% 
			var len = questions.length;
			for (var i = 0; i < len; i++) {
				var question = questions[i];
		%>
		<tr>
			<td style="text-align: center">
				
				<br/>
				<a href="/admin/question/<%= question.id %>" target="_self">
					<img src="<%= question.image %>" width="250" height="250" />
				<br/>
				[id = <b><%= question.id %></b>] <%= question.displayDate %> <br/>
				기간: <%= question.time.start %> ~ <%= question.time.end %>
				</a>
			</td>
		</tr>
	   <% }; %>
	</table>
	<br/>
    <center>
    	<div class="_pagination">
		    <a href="#" class="first" data-action="first">&laquo;</a>
		    <a href="#" class="previous" data-action="previous">&lsaquo;</a>               
		    <input type="text" readonly="readonly" data-current-page="<%= page %>" data-max-page="<%= totalPage %>" style="text-align:center" />
		    <a href="#" class="next" data-action="next">&rsaquo;</a>
		    <a href="#" class="last" data-action="last">&raquo;</a>
		</div>
		<br>
    	<input type="submit" class="_btn" value="Regist" onclick="window.location='/admin/question/add'"/>
    </center>
    <br><br><br><br>
</body>
<script type="text/javascript" src="/js/admin/question/list.js"></script>
</html>
