<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title><%= collectionName %> collections | 제목 학원</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		ul, li {list-style:none;display:block;position:relative;}
		ul { padding:5px;border:solid 2px #eee;word-break:break-all; }
		li { text-overflow:ellipsis;height:25px;line-height:25px;overflow:hidden; }
		.buttons input { vertical-align:middle; }
	</style>
</head>
<body>

<h1><%= collectionName %></h1>

<form id="list-form" name="list" method="POST">
	<% for (var i=0, ii=collections.length, doc; i<ii; i++) {
		doc = collections[i]; %>
	<ul>
		<li class="buttons">
			<input type="button" value="삭제" data-doc-id="<%= doc['_id'] %>" />
		</li>
		<% for (var key in doc) {
            if (typeof doc[key] === 'object') {
                for (var innerKey in doc[key]) {
                    if (innerKey === 'password' || innerKey === 'email' ||
                        innerKey === 'id' || innerKey === 'token' || innerKey === 'email' || innerKey === 'name') {
        %>
		        <li><%= key + '-' + innerKey %> : <%= doc[key][innerKey] %></li>
            <% }} %>
        <% } else { %>
            <li><%= key %> : <%= doc[key] %></li>
        <% } %>
		<% } %>
	</ul>
	<% } %>

	<input type="hidden" name="_method" value="POST" />
</form>

<script type="text/javascript">
var doc = document;

var collectionName = '<%= collectionName %>',
	listForm = doc.getElementById("list-form"),
	buttons = doc.getElementsByTagName("input"),
	removeBtns = [],
	httpVerb;

buttons = Array.prototype.slice.apply(buttons);

for (var i=0, ii=buttons.length; i<ii; i++) {
	if (buttons[i].type === "button") {
		removeBtns.push(buttons[i]);
	} else if (buttons[i].name ==="_method") {
		httpVerb = buttons[i];
	}
}

for (var i=0, ii=removeBtns.length, btn; i<ii; i++) {
	btn = removeBtns[i];

	btn.onclick = function(btn) {
		return function(e) {
			e = e || window.event;

			e.preventDefault && e.preventDefault();
			e.returnValue = false;

			httpVerb.value = "DELETE";
			listForm.action = "/"+ ["tools", collectionName.toLowerCase(), btn.getAttribute('data-doc-id')].join('/');

			listForm.submit();

			return false;
		}
	}(btn);
}

</script>

</body>
</html>