<!DOCTYPE html>
<html>
	<head>
	<meta property="og:title" content="<% if(imageTitle) { %><%= imageTitle %><% } %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://58.229.6.204:3000/">
    <meta property="og:description" content="오늘의 짤방">
    <meta property="og:image" content="<% if(imageSrc) { %><%= imageSrc %><% } %>">
	<title><% if (title) { %><%= title %> | <% } %><%= appname %></title>
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/style.css" />
</head>
<body>

<%- partial('gnb') %>
<div id="wrap">

<%- body %>

</div><!-- //#wrap -->

</body>
</html>