<html>
<head>
    <title><%= __("NP_FORM_TITLE") %></title>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/account/style.css">
</head>
<body>
<div id="recover-password-container" class="account-container">
    <form method="POST" action="/account/reset/<%=id%>" id="recover-form" class="well">
        <div class="content-header">
            <h1><%= __("NP_FORM_HEADER") %></h1>
            <h5><%= __("NP_FORM_SUB_HEADER") %></h5>
        </div>
        <hr>
        <div class="content-body">
            <% include ../../alert/Flash-Alerts %>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control required" placeholder="<%= __("PLACEHOLDER_PASSWORD") %>" id="password" name="password" maxlength="128" required="required"></input>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><span id="glyphicon-status" class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control required" placeholder="<%= __("PLACEHOLDER_PASSWORD_CONFIRM") %>" name="confirm" maxlength="128" required="required"></input>
            </div>
            <div class="button-group">
                <button type="submit" id="btn-recover" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok-sign"></span><%= __("Ok") %></button>
            </div>
        </div>
        <hr>
        <div class="content-footer">
            <p><%= __("NP_FORM_FOOTER_BODY") %></p>
        </div>

        <input id="form-method" type="hidden" name="_method" value="PUT" />
    </form>
</div>
<script src="/js/lib/jquery-1.11.0.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
</body>
</html>